.table{
  width: 100vw;
  border-collapse: collapse;
}
.table th{
  background-color: aquamarine;
  color: white;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  background-color: aquamarine;
  color: white;
  margin: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
span{
  background-color: aquamarine;
  color: white;
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}